header, section {
    background-color: white;
    padding: 1.5em;
    margin: 2em auto;
    width: 50%;
    background-color: lightgreen;
    box-shadow: 5px 5px 10px 0px #000000;
    border-radius: 2%;
}

h1 {
    padding-left: 0.3em;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0;
}

header input {
    width: 30%;
    margin-left: 1em;
    padding: 1em;
    font-size: 1em;
}

header button {
    width: 15%;
    margin: 0 2em;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    background-color: rgba(241, 64, 64, 0.61);
    border-radius: 5%;
    cursor: pointer;
}

ol li {
    font-size: 1.7em;
    line-height: 3em;
    border-bottom: 0.5px solid grey;
    cursor: pointer;
}

ol li span {
    float: right;
}

ol li span button {
    cursor: pointer;
    border-radius: 10%;
    background-color:  rgba(241, 64, 64, 0.61);
    width: 2.5em;
    height: 2.5em;
    width: 5em;
}